.fechamento-container {
    padding-top: 70px; /* Ajuste a altura conforme necessário */
}



/* Media query para telas com largura máxima de 768px (tablets e dispositivos móveis) */
@media (max-width: 768px) {
    .fechamento-container {
        padding-top: 50px; /* Menos espaço no topo para telas menores */
    }

    .form-label {
        font-size: 14px; /* Fonte menor para melhor legibilidade em telas pequenas */
    }

    .form-control, .form-select {
        font-size: 14px; /* Fonte menor para controles de formulário em telas pequenas */
    }

    /* Reduzir margens e padding para se ajustar melhor em telas pequenas */
    .mb-3 {
        margin-bottom: 8px;
    }
}
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    padding: 10px 20px; /* Ajuste conforme necessário */
  }
  header {
    padding-bottom: 10px; /* Reduz ou ajusta conforme necessário */
  }
  
  